@import url("https://fonts.googleapis.com/css?family=K2D");

body {
  margin: 0;
  font-family: "K2D", "Arial", sans-serif;
}

nav {
  background-color: black;
  text-align: center;
  ul {
    padding: 0;
    display: inline-flex;
    justify-content: center;
    list-style-type: none;
    li {
      margin: 0 5%;
      a {
        text-decoration: none;
        font-size: 2em;
        color: white;
        &:hover {
          color: purple;
        }
      }
    }
  }
}

#me {
  background: url("../images/iStock-520886540.jpg"), no-repeat left top,
    linear-gradient(#bdc3c7, #2c3e50);
  background-size: 100% 100%;
  opacity: 1;
  height: 680px;
  header {
    h2 {
      margin: auto;
      color: white;
      text-align: center;
      font-size: 2em;
      position: relative;
      top: 50px;
    }
  }
  main {
    p {
      width: 40%;
      margin-left: 35%;
      margin: auto;
      color: white;
      text-align: center;
      position: relative;
      top: 170px;
      text-shadow: 2px 2px 1px black;
      font-size: 1.5em;
      text-align: justify;
    }
  }
}
#projects {
  background: #0f2027;
  background: -webkit-linear-gradient(to bottom, #2c5364, #203a43, #0f2027);
  background: linear-gradient(to bottom, #2c5364, #203a43, #0f2027);
  height: 680px;
  header {
    h2 {
      margin: 0;
      text-align: center;
      color: white;
      position: relative;
      top: 50px;
      font-size: 2em;
    }
  }
}
