@import url("https://fonts.googleapis.com/css?family=K2D");

body {
  margin: 0;
  font-family: "K2D", "Arial", sans-serif;
}

nav {
  background-color: black;
  text-align: center;
  position: fixed;
  width: 100%;
  opacity: 1;
  ul {
    padding: 0;
    display: inline-flex;
    justify-content: center;
    list-style-type: none;
    width: 100%;
    li {
      margin: 0 5%;
      a {
        text-decoration: none;
        font-size: 2em;
        color: white;
        &:hover {
          color: purple;
        }
      }
    }
  }
}

#me {
  background: url("../images/iStock-520886540.jpg"), no-repeat left top,
    linear-gradient(#bdc3c7, #2c3e50);
  background-size: 100% 100%;
  opacity: 1;
  height: 680px;
  header {
    h2 {
      margin: auto;
      color: white;
      text-align: center;
      font-size: 2em;
      position: relative;
      top: 50px;
    }
  }
  main {
    p {
      width: 40%;
      margin-left: 35%;
      margin: auto;
      color: white;
      text-align: center;
      position: relative;
      top: 170px;
      text-shadow: 2px 2px 1px black;
      font-size: 1.5em;
      text-align: justify;
    }
  }
}
#projects {
  background: #0f2027;
  background: -webkit-linear-gradient(to bottom, #2c5364, #203a43, #0f2027);
  background: linear-gradient(to bottom, #2c5364, #203a43, #0f2027);
  height: 680px;
  #main-part {
    height: 100%;
  }
  header {
    h2 {
      margin: 0;
      text-align: center;
      color: white;
      position: relative;
      top: 50px;
      font-size: 2em;
    }
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
    height: 70%;
    li {
      margin: auto;
      height: 50%;
    }
    article {
      margin: auto;
      width: 50%;
      height: 50%;
      text-align: center;
      header {
        color: white;
        font-size: 2em;
        margin: 5% 0;
        cursor: default;
      }
      main {
        img {
          width: 100%;
        }
      }
      footer {
        color: white;
        text-align: justify;
      }
    }
  }
  p {
    text-align: center;
    color: white;
    margin-top: 5%;
    font-size: 1.2em;
  }
}
#technologies {
  background: #373b44;
  background: -webkit-linear-gradient(to top, #4286f4, #373b44);
  background: linear-gradient(to top, #4286f4, #373b44);
  height: 680px;

  h2 {
    margin: 0;
    text-align: center;
    font-size: 2em;
    position: relative;
    top: 50px;
    color: white;
  }

  ul {
    display: inline-flex;
    flex-flow: row wrap;
    list-style: none;
    justify-content: center;
    align-items: center;
    margin: 5% 0;
    padding: 0;
    height: 90%;
    li {
      width: 30%;
      height: 30%;
      text-align: center;
    }

    img {
      width: 30%;
      height: 65%;
    }
  }
}
#contact {
  background: #0f0c29;
  background: -webkit-linear-gradient(to top, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to top, #24243e, #302b63, #0f0c29);
  height: 340px;
  h2 {
    margin: 0;
    text-align: center;
    color: white;
    font-size: 2em;
    position: relative;
    top: 50px;
  }
  ul {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 80%;
    list-style-type: none;
    display: inline-flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    li {
      line-height: 40px;

      font-size: 1.3em;

      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}
