@import url("https://fonts.googleapis.com/css?family=Montserrat");

$colors: (
  primary: rgb(60, 60, 206),
  nav: rgb(179, 179, 35),
  border: rgb(109, 79, 23),
  title: rgb(21, 146, 21),
  bg: rgba(168, 114, 114, 0.199)
);

@function get-color($color) {
  @return map-get($map: $colors, $key: $color);
}

body {
  margin: 0;
}

#sect-side {
  display: inline-flex;

  nav {
    width: 20%;
    background-color: get-color(nav);
    display: flex;
    align-items: center;
    justify-content: center;

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;
      flex-flow: column nowrap;
      height: 100%;
      justify-content: space-around;
    }

    a {
      text-decoration: none;
      color: white;
      text-transform: uppercase;
      font-size: 1.3em;
    }
  }

  #inner-sect {
    width: 80%;
    background-color: get-color(primary);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 10px;

    article {
      width: 30%;
      border: 1.5px solid get-color(border);
      margin: 1% 0;
      border-radius: 15px;
      text-align: center;
      padding: 10px;
      background-color: get-color(bg);

      main {
        color: white;
        text-align: justify;
        padding: 0 20px;
      }

      h2 {
        margin: 3%;
        color: get-color(title);
        text-transform: uppercase;
      }

      button {
        border: none;
        outline: none;
        padding: 10px 20px;
        background-color: black;
        color: white;
        border-radius: 2px;
      }
    }
  }
}
